# SPDX-FileCopyrightText: 2019-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

cmd/onos/onos
**/_output
*.DS_Store
coverage.txt
*.coverprofile
.idea
vendor
build/build-tools/**
